@import "compass/css3";
@import "compass/utilities";
@import "compass/css3/user-interface";

@mixin clip-path ($prop) {
	-webkit-clip-path: $prop;
	clip-path: $prop;
}

@mixin buttony {
	cursor: hand;
	cursor: pointer;

	&.highlight {
		@include transition-duration(0s);
		@include opacity(0.7);
	}
}

@mixin small-caps {
	text-transform: lowercase;
	font-variant: small-caps;
}

@mixin h1($multiLine: false, $mega: false) {
	font-family: 'Whitney Narrow';
	line-height: 1;

	@if $mega {
		font-size: 60px;

		@if $multiLine {
			line-height: 68px;
		}
	} @else {
		font-size: 50px;
	
		@if $multiLine {
			line-height: 56px;
		}
	}
}

@mixin h2($multiLine: false) {
	font-size: 30px;
	line-height: 1;

	@if $multiLine {
		line-height: 36px;
	}
}

@mixin h3($multiLine: false) {
	font-size: 24px;
	line-height: 1;

	@if $multiLine {
		line-height: 30px;
	}
}

@mixin h4($multiLine: false) {
	font-size: 20px;
	line-height: 1;

	@if $multiLine {
		line-height: 22px;
	}
}

@mixin body {
	font-size: 18px;
	line-height: 22px;
}
