@import "global-variables";
@import "compass/reset";
@import "compass/css3/opacity";
@import "compass/css3/user-interface";
@import "compass/css3/animation";

// disable user select
.touch {
	* {
		cursor: none;
		-webkit-touch-callout: none;
		-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
		@include user-select(none);
	}
}

html {
	height: 100%;
	-ms-touch-action: manipulation;
	touch-action: manipulation;
}

body {
	// curly quotes
	-webkit-font-feature-settings: 'ss17' 1;
	font-feature-settings: 'ss17' 1;

	#preload {
		position: absolute;
		left: -9999999px;

		.medium {
			font-weight: $medium;
		}
		.semibold {
			font-weight: $semibold;
		}
	}

	&, * {
		font-family: 'Whitney', Helvetica, Arial, sans-serif;
		outline: none;
	}

	button {
		cursor: pointer;
		border: 0;
		background-color: transparent;
		@include appearance(none);
	}

	#preload div,
	.cn,
	.cn * {
		font-family: 'HanSans', Helvetica, Arial, sans-serif;
	}

	#preload .en {
		font-family: 'Whitney', Helvetica, Arial, sans-serif;
	}

	i,
	em {
		font-style: italic;
	}

	margin: 0;
	padding: 0;
	min-height: 100%;
	font-weight: $book;
	background-color: $bgGrey;
	color: #ffffff;

	#root {
		position: relative;
		background-color: #000000;
		
		@include box-sizing(border-box);
		width: $stageWidth;
		height: $stageHeight;
		overflow: hidden;
		margin-left: auto;
		margin-right: auto;

		#languages {
		    z-index: 999;
		    position: relative;

		    background-color: #000000;
		    width: 100%;
		    overflow: hidden;
		    clear: both;

		    li {
		    	@include box-sizing(border-box);
		    	@include buttony;

		    	float: right;
		    	height: $translationUIHeight;
		    	border-left: 1px solid #ffffff;

		    	font-size: 17px;
			    line-height: 1;
			    letter-spacing: 1.25px;
			    text-transform: uppercase;
			    padding-left: 60px;
			    padding-right: 60px;
			    padding-top: 14px;

			    color: $blue;
			    font-weight: $medium;
			    font-family: 'Whitney Condensed';

		    	&#cn {
		    		font-family: 'HanSans';
		    	}

		    	&.active {
					font-weight: $semibold;
        			color: #ffffff;
        			pointer-events: none;
		    	}
		    }
		}

		#close {
			@include box-sizing(border-box);

			z-index: 9999999;
			position: absolute;
			
			text-indent: -999px;
			overflow: hidden;

			$dim: 62px;
			$left: 50px;
			$top: 30px;

			width: $dim + ($left * 2);
			height: $dim + ($top * 2);

			padding: 0;
			background-color: transparent;
			border: none;
			background-image: url('../images/icons/close-white.svg');
			background-repeat: no-repeat;
			background-position: $left $top;
			@include background-size($dim $dim);
			
			@include opacity(0);
			@include buttony;
			pointer-events: none;
			margin-left: -9999px;

			.show-close & {
				@include transition(
					opacity .4s $easing
				);

				@include opacity(1);
				@include buttony;

				pointer-events: all;
				margin-left: 0;
			}
		}

		nav {
			position: relative;
			z-index: 3;
		}

		.frame-animation {
			display: block;
			overflow: hidden;

			.container {
				will-change: top;
				position: absolute;
				@include animation-play-state(paused);

				img {
					display: block;
				}
			}
		}

		.cta {
			position: absolute;
			z-index: 10;
			left: 0;
			bottom: 60px;
			width: 100%;	
			text-align: center;
			@include subhead;

			@include transition(
				opacity .6s $easing .2s
			);

			@include opacity(1);

			&.hide {
				@include opacity(0);
			}
		}

		section {
			z-index: 2;
			display: none;
			position: relative;
			@include animation(fade-in 1s $easing);

			&.open {
				display: block;
			}

			h1 {
				@include head;
				margin-top: 30px;
				margin-bottom: 30px;
				@include text-shadow(rgba(#000000, 0.5) 0 0 20px);
			}

			&#attract {
				video {
					margin-top: -$translationUIHeight;
					width: $stageWidth;
					height: $stageHeight;
				}
			}

			&#media-overlay {
				z-index: 4;

				position: absolute;
				top: $translationUIHeight;
				left: 0;
				right: 0;
				bottom: 0;
				background-color: #ffffff;

				video {
					z-index: 1;
					@include animation(fade-in 2s $easing);
					width: $stageWidth;
					height: $stageHeight;
				}

				.progress-indicator {
					z-index: 2;
					position: absolute;
					@include transition-delay(1s);
					@include filter(drop-shadow(0 0 5px rgba(#000000, 0.4)));
					
					top: 20px;
					right: 20px;

					svg {
						@include transform(rotate(-90deg));

						width: 50px;
						height: 50px;

						circle {
							fill: none;

							&.progress {
								stroke: #ffffff;
								stroke-width: 6;
							}
							&.bg {
								stroke: #000000;
								stroke-width: 2;
							}
						}
					}
				}
			}

			&#slideshow {
				$slideWidth: 384px;
				$slideHeight: 800px;
				$padding: 50px;

				h1,
				.bx-controls > div {
					width: $stageWidth;
				}

				h1 {
					text-align: center;
					margin-top: 35px;
					margin-bottom: 40px;
				}

				.slides {
					width: 100%;

					&, & > li {
						height: $slideHeight;
					}

					& > li {
						width: $slideWidth;

						.container {
							@include box-sizing(border-box);
							padding: $padding;
							padding-top: 165px;

							img {
								$dim: $slideWidth - ($padding * 2);
								@include border-radius($dim / 2);
								width: $dim;
								height: $dim;
								margin-bottom: $padding / 2;
							}

							p {
								font-weight: $semibold;
								font-size: 20px;
								line-height: 22px;
							}

							@include transition(
								opacity .6s $easing,
								transform .6s $easing
							);

							transform-origin: 50% 50%;

							& > div,
							&:after {
								@include transition(
									opacity .7s $easing
								);
							}

							& > div,
							&:after {
								@include opacity(0);
							}

							&:after {
								content: '';
								position: absolute;
								top: 0;
								left: 0;
								bottom: 0;
								right: 0;
								z-index: -1;
								background-color: #000000;
							}
						}

						$offset: 225px;

						&,
						&.slide-prev-prev,
						&.slide-next-next {
							.container {
								@include opacity(.25);
								@include transform(scale3d(.6, .6, 1));
							}
						}

						&.slide-prev-prev {
							.container {
								@include transform(scale3d(.6, .6, 1) translateX(-$offset - 100px));
							}
						}
						&.slide-next-next {
							.container {
								@include transform(scale3d(.6, .6, 1) translateX($offset + 100px));
							}
						}

						&.slide-prev,
						&.slide-next {
							.container {
								@include opacity(.75);
								@include transform(scale3d(1, 1, 1));
							}
						}

						&.slide-prev {
							.container {
								@include transform(translateX(-$offset));
							}
						}
						&.slide-next {
							.container {
								@include transform(translateX($offset));
							}
						}

						&.mid-slide {
							z-index: 9999;

							.container {
								@include opacity(1);
								@include transform(scale3d(1.75, 1.75, 1) translateX(0));

								& > div {
									@include opacity(1);
								}
								&:after {
									@include opacity(.6);
								}
							}
						}

						&.cloned-last {
							background-color: rgba(red, 0.25);
						}
					}
				}

				.bx-wrapper {
					.bx-pager {
						pointer-events: none;
						z-index: 2;
						bottom: -50px;

						div {
							a {
								@include box-shadow(none);
								background: rgba(#ffffff, 0.25);

								&.active {
									background: rgba(#ffffff, 0.75);								
								}
							}
						}
					}

					.bx-controls-direction {
						@include box-sizing(border-box);
						position: absolute;
						bottom: 0;
						left: 0;
						z-index: 1;
						pointer-events: none;

						$iconDim: 44px;

						a {
							background: transparent;
							@include buttony;
							pointer-events: all;

							margin: 0;
							padding: 0;
							display: block;
							top: 0;

							width: 100px;
							height: 100px;
							background-repeat: no-repeat;
							@include background-size($iconDim $iconDim);

							&.bx-prev {
								float: left;
								left: $padding;
								background-image: url('../images/icons/previous-white.svg');
								background-position: center left;
							}
							&.bx-next {
								float: right;
								right: $padding;
								background-image: url('../images/icons/next-white.svg');
								background-position: center right;
							}	
						}
					}
				}
			}

			&#whale {
				width: $stageWidth;
				height: $stageHeight - $translationUIHeight;

				top: $translationUIHeight;
				left: 0;
				position: absolute;

				$padding: 60px;

				h1 {
					@include megahead;
					margin-left: $padding;	
				}

				.nav {
					position: absolute;
					left: $padding;
					bottom: $padding * 2;

					color: #ffffff;
					font-size: 24px;
					border: 2px solid #ffffff;
					padding: 10px;
					text-align: left;

					.copy {
						padding-right: $padding;
					}

					.point {
						margin-right: 10px;
						margin-top: 5px;
					}

					& > div {
						float: left;
					}
				}

				.nav,
				#points > div {
					cursor: pointer;
				}

				.nav div.point,
				#points > div {
					display: block;

					&, div {
						@include box-sizing(border-box);
						position: relative;
					}

					$dim: 40px;

					width: $dim;
					height: $dim;
					overflow: hidden;
					text-indent: -99999px;
					@include border-radius($dim / 2);
					border: 3px solid #ffffff;

					background-color: transparent;

					padding: 2px;

					div {
						$lilDim: $dim - 10px;

						padding: 0;
						width: $lilDim;
						height: $lilDim;
						@include border-radius($lilDim / 2);

						border: 2px solid #ffffff;

						@include transition(
							transform .3s $easing,
							background-color .5s $easing
						);

						@include transform(scale3d(.6, .6, .6));
						background-color: #ffffff;
					}

					@include opacity(1);
					@include transition(opacity .6s $easing);

					&.selected {
						div {
							@include transform(scale3d(1, 1, 1));
							background-color: $blueDark;
						}

						&.hide-on-select {
							@include opacity(0);
						}
					}
				}

				// increase hit area of point
				#points > div {
					overflow: visible;

					&:after {
						content: '';
						position: absolute;
						top: -30px;
						left: -30px;
						width: 100px;
						height: 100px;
						background-color: rgba(#000000, 0);
					}
				}

				.nav.highlight {
					div.point {
						div {
							@include transform(scale3d(1, 1, 1));
							background-color: $blueDark;
						}
					}
				}

				#legend {
					button {
						@include buttony;
					}

					& > div {
						@include box-sizing(border-box);
						@include animation(fade-in-from-bottom .6s $easing);
						@include box-shadow(rgba(#000000, 0.2) 0 0 30px);

						display: none;

						&.open {
							display: block;
						}

						$h: 230px;
						$borderWidth: 4px;
						$padding: 15px;

						padding: $borderWidth;
						height: $h;
						width: 820px;
						position: absolute;
						background-color: #ffffff;

						img {
							width: $h - ($borderWidth * 2);
							height: $h - ($borderWidth * 2);
							float: left;
							margin-right: $padding;
							position: relative;
						}

						.btn-close {
							position: absolute;
							top: 0;
							right: 0;
							width: 40px;
							height: 40px;
							background-repeat: no-repeat;
							background-position: 15px 10px;
							background-image: url('../images/icons/close-legend.svg');
							@include background-size(15px 15px);
						}

						.btn-play {
							z-index: 2;
							position: absolute;
							top: 0;
							left: 0;
							width: $h;
							height: $h;
							background-image: url('../images/icons/play.svg');
							background-position: center center;
							background-repeat: no-repeat;
							@include background-size(100px 100px);
							@include filter(drop-shadow(0 0 5px rgba(#000000, 0.4)));
						}

						&.no-img {
							height: inherit;
							width: 590px;
						}

						h2, & > div {
							margin: $padding;
						}

						h2 {
							color: $blueDark;
							font-weight: $semibold;
							@include subhead;
						}

						p {
							color: #000000;
							font-size: 18px;
							line-height: 22px;
						}

						$arrowSize: 75px;

						.arrow {
							position: absolute;
							margin: 0;
							top: -$arrowSize;
							width: $arrowSize;
							height: $arrowSize;
							background-color: rgba(#ffffff, 0.3);

							@include clip-path(polygon(50% 0%, 100% 100%, 0% 100%, 50% 0%));
						}

						&.top {
							.arrow {
							}
						}

						&.left {
							.arrow {
								@include clip-path(polygon(100% 0%, 100% 100%, 0% 50%, 100% 0%));
								top: 0;
								left: -$arrowSize;
							}
						}

						&.bottom {
							.arrow {
								@include clip-path(polygon(0% 0%, 100% 0%, 50% 100%, 0% 0%));
								top: $h;
							}
						}
						&.bottom.no-img {
							.arrow {
								top: auto;
							}
						}

						&#blowhole {
							.arrow {
								left: 90px;
							}
						}
						&#mouth {
							.arrow {
								left: 44px;
							}
						}
						&#appetite {
							.arrow {
								top: 155px;
							}
						}
						&#heart {
							.arrow {
								left: 88px;
							}
						}
						&#size {
							.arrow {
								left: 92px;
							}
						}
						&#speed {
							.arrow {
								right: 124px;
							}
						}
					}
				}

				.legend-frames,
				#whale-frames {
					z-index: -1;
					position: absolute;
				}

				.legend-frames {
					@include opacity(0);
					@include transition(opacity .6s $easing);

					&.active {
						@include opacity(1);
					}
				}

				#bus-frames {
					width: 1400px;
					height: 200px;

					bottom: 150px;
					right: 60px;

					&.active {
						.container {
							@include animation(bus 10s steps(300) forwards);
							@include animation-play-state(running);
						}
					}
				}

				#heart-frames,
				#whale-frames {
					width: $stageWidth;
					height: $stageHeight;

					top: -$translationUIHeight;
					left: 0;

					.container {
						@include animation(whale 30s steps(900) infinite);
					}

					&.animate {
						.container {
							@include animation-play-state(running);	
						}
					}
				}

				#whale-frames {
					z-index: -2;
				}
			}
		}

		#water {
			z-index: 1;
			position: absolute;
			
			width: $stageWidth;
			height: $stageHeight;

			top: 0;
			left: 0;

			&.animate {
				.container {
					@include animation(water 10s steps(300) infinite);	
				}
			}
		}
	}

	// loading
	#loading {
		position: absolute;
		display: table;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
		bottom: 0;
		right: 0;

		h1 {
			display: table-cell;
			vertical-align: middle;
			text-align: center;
			font-size: 60px;
			font-weight: $book;
			color: #ffffff;
			padding-bottom: 30px;
		}
	}

	#root {
		display: none;
	}

	.loaded & {
		#loading {
			display: none;
		}

		#root {
			display: block;
		}
	}

	// translate
	.en, .cn, .tl, .es {
		display: none !important;
		@include animation(fade-in 1s $easing);
	}

	@mixin lg($lg) {
		html[lang="#{$lg}"] & {
			.#{$lg} {
				display: block !important;
			}
		}
	}

	@include lg('en');
	@include lg('cn');
	@include lg('tl');
	@include lg('es');
}
