@font-face {
  font-family: 'Whitney';
  src: url("../fonts/WhitneyBook.otf") format("opentype");
  font-weight: 400;
}
@font-face {
  font-family: 'Whitney';
  src: url("../fonts/WhitneyMedium.otf") format("opentype");
  font-weight: 500;
}
@font-face {
  font-family: 'Whitney';
  src: url("../fonts/WhitneySemibold.otf") format("opentype");
  font-weight: 600;
}
@font-face {
  font-family: 'Whitney Narrow';
  src: url("../fonts/WhitneyNarrowBook.otf") format("opentype");
  font-weight: 400;
}
@font-face {
  font-family: 'Whitney Narrow';
  src: url("../fonts/WhitneyNarrowSemibold.otf") format("opentype");
  font-weight: 600;
}
@font-face {
  font-family: 'Whitney Condensed';
  src: url("../fonts/WhitneyCondensedMedium.otf") format("opentype");
  font-weight: 500;
}
@font-face {
  font-family: 'Whitney Condensed';
  src: url("../fonts/WhitneyCondensedSemibold.otf") format("opentype");
  font-weight: 600;
}
@font-face {
  font-family: 'HanSans';
  src: url("../fonts/HanSansNormal.otf") format("opentype");
  font-weight: 400;
}
@font-face {
  font-family: 'HanSans';
  src: url("../fonts/HanSansMedium.otf") format("opentype");
  font-weight: 500;
}
@font-face {
  font-family: 'HanSans';
  src: url("../fonts/HanSansBold.otf") format("opentype");
  font-weight: 600;
}
@-moz-keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-webkit-keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-moz-keyframes fade-in-from-top {
  from {
    -moz-transform: translate3d(0, -50px, 0);
    transform: translate3d(0, -50px, 0);
    opacity: 0;
  }
  to {
    -moz-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }
}
@-webkit-keyframes fade-in-from-top {
  from {
    -webkit-transform: translate3d(0, -50px, 0);
    transform: translate3d(0, -50px, 0);
    opacity: 0;
  }
  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }
}
@keyframes fade-in-from-top {
  from {
    -moz-transform: translate3d(0, -50px, 0);
    -ms-transform: translate3d(0, -50px, 0);
    -webkit-transform: translate3d(0, -50px, 0);
    transform: translate3d(0, -50px, 0);
    opacity: 0;
  }
  to {
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }
}
@-moz-keyframes fade-in-from-bottom {
  from {
    -moz-transform: translate3d(0, 50px, 0);
    transform: translate3d(0, 50px, 0);
    opacity: 0;
  }
  to {
    -moz-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }
}
@-webkit-keyframes fade-in-from-bottom {
  from {
    -webkit-transform: translate3d(0, 50px, 0);
    transform: translate3d(0, 50px, 0);
    opacity: 0;
  }
  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }
}
@keyframes fade-in-from-bottom {
  from {
    -moz-transform: translate3d(0, 50px, 0);
    -ms-transform: translate3d(0, 50px, 0);
    -webkit-transform: translate3d(0, 50px, 0);
    transform: translate3d(0, 50px, 0);
    opacity: 0;
  }
  to {
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }
}
@-moz-keyframes water {
  0% {
    top: 0;
  }
  100% {
    top: -324000px;
  }
}
@-webkit-keyframes water {
  0% {
    top: 0;
  }
  100% {
    top: -324000px;
  }
}
@keyframes water {
  0% {
    top: 0;
  }
  100% {
    top: -324000px;
  }
}
@-moz-keyframes bus {
  0% {
    top: 0;
  }
  100% {
    top: -60000px;
  }
}
@-webkit-keyframes bus {
  0% {
    top: 0;
  }
  100% {
    top: -60000px;
  }
}
@keyframes bus {
  0% {
    top: 0;
  }
  100% {
    top: -60000px;
  }
}
@-moz-keyframes whale {
  0% {
    top: 0;
  }
  100% {
    top: -972000px;
  }
}
@-webkit-keyframes whale {
  0% {
    top: 0;
  }
  100% {
    top: -972000px;
  }
}
@keyframes whale {
  0% {
    top: 0;
  }
  100% {
    top: -972000px;
  }
}
/* line 5, ../../../../../../../usr/local/Cellar/ruby/2.1.5/lib/ruby/gems/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../../usr/local/Cellar/ruby/2.1.5/lib/ruby/gems/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../../usr/local/Cellar/ruby/2.1.5/lib/ruby/gems/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../../usr/local/Cellar/ruby/2.1.5/lib/ruby/gems/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../../usr/local/Cellar/ruby/2.1.5/lib/ruby/gems/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../../usr/local/Cellar/ruby/2.1.5/lib/ruby/gems/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../../usr/local/Cellar/ruby/2.1.5/lib/ruby/gems/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../../usr/local/Cellar/ruby/2.1.5/lib/ruby/gems/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../../usr/local/Cellar/ruby/2.1.5/lib/ruby/gems/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* line 9, ../sass/global.scss */
.touch * {
  cursor: none;
  -webkit-touch-callout: none;
  -webkit-tap-highlight-color: transparent;
  -moz-user-select: -moz-none;
  -ms-user-select: none;
  -webkit-user-select: none;
  user-select: none;
}

/* line 17, ../sass/global.scss */
html {
  height: 100%;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
}

/* line 23, ../sass/global.scss */
body {
  -webkit-font-feature-settings: 'ss17' 1;
  font-feature-settings: 'ss17' 1;
  margin: 0;
  padding: 0;
  min-height: 100%;
  font-weight: 400;
  background-color: #434244;
  color: #ffffff;
}
/* line 28, ../sass/global.scss */
body #preload {
  position: absolute;
  left: -9999999px;
}
/* line 32, ../sass/global.scss */
body #preload .medium {
  font-weight: 500;
}
/* line 35, ../sass/global.scss */
body #preload .semibold {
  font-weight: 600;
}
/* line 40, ../sass/global.scss */
body, body * {
  font-family: 'Whitney', Helvetica, Arial, sans-serif;
  outline: none;
}
/* line 45, ../sass/global.scss */
body button {
  cursor: pointer;
  border: 0;
  background-color: transparent;
  -moz-appearance: none;
  -webkit-appearance: none;
}
/* line 52, ../sass/global.scss */
body #preload div,
body .cn,
body .cn * {
  font-family: 'HanSans', Helvetica, Arial, sans-serif;
}
/* line 58, ../sass/global.scss */
body i,
body em {
  font-style: italic;
}
/* line 70, ../sass/global.scss */
body #root {
  position: relative;
  background-color: #000000;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 1920px;
  height: 1080px;
  overflow: hidden;
  margin-left: auto;
  margin-right: auto;
}
/* line 81, ../sass/global.scss */
body #root #languages {
  z-index: 999;
  position: relative;
  background-color: #000000;
  width: 100%;
  overflow: hidden;
  clear: both;
}
/* line 90, ../sass/global.scss */
body #root #languages li {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  cursor: hand;
  cursor: pointer;
  float: right;
  height: 45px;
  border-left: 1px solid #ffffff;
  font-size: 17px;
  line-height: 1;
  letter-spacing: 1.25px;
  text-transform: uppercase;
  padding-left: 60px;
  padding-right: 60px;
  padding-top: 14px;
  color: #009cde;
  font-weight: 500;
  font-family: 'Whitney Condensed';
}
/* line 14, ../sass/_mixins.scss */
body #root #languages li.highlight {
  -moz-transition-duration: 0s;
  -o-transition-duration: 0s;
  -webkit-transition-duration: 0s;
  transition-duration: 0s;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=70);
  opacity: 0.7;
}
/* line 110, ../sass/global.scss */
body #root #languages li#cn {
  font-family: 'HanSans';
}
/* line 114, ../sass/global.scss */
body #root #languages li.active {
  font-weight: 600;
  color: #ffffff;
  pointer-events: none;
}
/* line 122, ../sass/global.scss */
body #root #close {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  z-index: 9999999;
  position: absolute;
  text-indent: -999px;
  overflow: hidden;
  width: 162px;
  height: 122px;
  padding: 0;
  background-color: transparent;
  border: none;
  background-image: url("../images/icons/close-white.svg");
  background-repeat: no-repeat;
  background-position: 50px 30px;
  -moz-background-size: 62px 62px;
  -o-background-size: 62px 62px;
  -webkit-background-size: 62px 62px;
  background-size: 62px 62px;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  opacity: 0;
  cursor: hand;
  cursor: pointer;
  pointer-events: none;
  margin-left: -9999px;
}
/* line 14, ../sass/_mixins.scss */
body #root #close.highlight {
  -moz-transition-duration: 0s;
  -o-transition-duration: 0s;
  -webkit-transition-duration: 0s;
  transition-duration: 0s;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=70);
  opacity: 0.7;
}
/* line 151, ../sass/global.scss */
.show-close body #root #close {
  -moz-transition: opacity 0.4s cubic-bezier(0.215, 0.61, 0.355, 1);
  -o-transition: opacity 0.4s cubic-bezier(0.215, 0.61, 0.355, 1);
  -webkit-transition: opacity 0.4s cubic-bezier(0.215, 0.61, 0.355, 1);
  transition: opacity 0.4s cubic-bezier(0.215, 0.61, 0.355, 1);
  filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false);
  opacity: 1;
  cursor: hand;
  cursor: pointer;
  pointer-events: all;
  margin-left: 0;
}
/* line 14, ../sass/_mixins.scss */
.show-close body #root #close.highlight {
  -moz-transition-duration: 0s;
  -o-transition-duration: 0s;
  -webkit-transition-duration: 0s;
  transition-duration: 0s;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=70);
  opacity: 0.7;
}
/* line 164, ../sass/global.scss */
body #root nav {
  position: relative;
  z-index: 3;
}
/* line 169, ../sass/global.scss */
body #root .frame-animation {
  display: block;
  overflow: hidden;
}
/* line 173, ../sass/global.scss */
body #root .frame-animation .container {
  will-change: top;
  position: absolute;
  -moz-animation-play-state: paused;
  -webkit-animation-play-state: paused;
  animation-play-state: paused;
}
/* line 178, ../sass/global.scss */
body #root .frame-animation .container img {
  display: block;
}
/* line 184, ../sass/global.scss */
body #root section {
  z-index: 2;
  display: none;
  position: relative;
  -moz-animation: fade-in 1s cubic-bezier(0.215, 0.61, 0.355, 1);
  -webkit-animation: fade-in 1s cubic-bezier(0.215, 0.61, 0.355, 1);
  animation: fade-in 1s cubic-bezier(0.215, 0.61, 0.355, 1);
}
/* line 190, ../sass/global.scss */
body #root section.open {
  display: block;
}
/* line 194, ../sass/global.scss */
body #root section h1 {
  font-family: 'Whitney Narrow';
  font-size: 50px;
  line-height: 1;
  margin-top: 30px;
  margin-bottom: 30px;
  text-shadow: rgba(0, 0, 0, 0.5) 0 0 20px;
}
/* line 201, ../sass/global.scss */
body #root section#media-overlay {
  z-index: 4;
  position: absolute;
  top: 45px;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ffffff;
}
/* line 211, ../sass/global.scss */
body #root section#media-overlay video {
  z-index: 1;
  -moz-animation: fade-in 2s cubic-bezier(0.215, 0.61, 0.355, 1);
  -webkit-animation: fade-in 2s cubic-bezier(0.215, 0.61, 0.355, 1);
  animation: fade-in 2s cubic-bezier(0.215, 0.61, 0.355, 1);
  width: 1920px;
  height: 1080px;
}
/* line 218, ../sass/global.scss */
body #root section#media-overlay .progress-indicator {
  z-index: 2;
  position: absolute;
  -moz-transition-delay: 1s;
  -o-transition-delay: 1s;
  -webkit-transition-delay: 1s;
  transition-delay: 1s;
  -webkit-filter: drop-shadow(0 0 5px rgba(0, 0, 0, 0.4));
  filter: drop-shadow(0 0 5px rgba(0, 0, 0, 0.4));
  top: 20px;
  right: 20px;
}
/* line 227, ../sass/global.scss */
body #root section#media-overlay .progress-indicator svg {
  -moz-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  -webkit-transform: rotate(-90deg);
  transform: rotate(-90deg);
  width: 50px;
  height: 50px;
}
/* line 233, ../sass/global.scss */
body #root section#media-overlay .progress-indicator svg circle {
  fill: none;
}
/* line 236, ../sass/global.scss */
body #root section#media-overlay .progress-indicator svg circle.progress {
  stroke: #ffffff;
  stroke-width: 6;
}
/* line 240, ../sass/global.scss */
body #root section#media-overlay .progress-indicator svg circle.bg {
  stroke: #000000;
  stroke-width: 2;
}
/* line 254, ../sass/global.scss */
body #root section#slideshow h1,
body #root section#slideshow .bx-controls > div {
  width: 1920px;
}
/* line 259, ../sass/global.scss */
body #root section#slideshow h1 {
  text-align: center;
  margin-top: 35px;
  margin-bottom: 40px;
}
/* line 265, ../sass/global.scss */
body #root section#slideshow .slides {
  width: 100%;
}
/* line 268, ../sass/global.scss */
body #root section#slideshow .slides, body #root section#slideshow .slides > li {
  height: 800px;
}
/* line 272, ../sass/global.scss */
body #root section#slideshow .slides > li {
  width: 384px;
}
/* line 275, ../sass/global.scss */
body #root section#slideshow .slides > li .container {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 50px;
  padding-top: 165px;
  -moz-transition: opacity 0.6s cubic-bezier(0.215, 0.61, 0.355, 1), -moz-transform 0.6s cubic-bezier(0.215, 0.61, 0.355, 1);
  -o-transition: opacity 0.6s cubic-bezier(0.215, 0.61, 0.355, 1), -o-transform 0.6s cubic-bezier(0.215, 0.61, 0.355, 1);
  -webkit-transition: opacity 0.6s cubic-bezier(0.215, 0.61, 0.355, 1), -webkit-transform 0.6s cubic-bezier(0.215, 0.61, 0.355, 1);
  transition: opacity 0.6s cubic-bezier(0.215, 0.61, 0.355, 1), transform 0.6s cubic-bezier(0.215, 0.61, 0.355, 1);
  transform-origin: 50% 50%;
}
/* line 280, ../sass/global.scss */
body #root section#slideshow .slides > li .container img {
  -moz-border-radius: 142px;
  -webkit-border-radius: 142px;
  border-radius: 142px;
  width: 284px;
  height: 284px;
  margin-bottom: 25px;
}
/* line 288, ../sass/global.scss */
body #root section#slideshow .slides > li .container p {
  font-weight: 600;
  font-size: 20px;
  line-height: 22px;
}
/* line 301, ../sass/global.scss */
body #root section#slideshow .slides > li .container > div, body #root section#slideshow .slides > li .container:after {
  -moz-transition: opacity 0.7s cubic-bezier(0.215, 0.61, 0.355, 1);
  -o-transition: opacity 0.7s cubic-bezier(0.215, 0.61, 0.355, 1);
  -webkit-transition: opacity 0.7s cubic-bezier(0.215, 0.61, 0.355, 1);
  transition: opacity 0.7s cubic-bezier(0.215, 0.61, 0.355, 1);
}
/* line 308, ../sass/global.scss */
body #root section#slideshow .slides > li .container > div, body #root section#slideshow .slides > li .container:after {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  opacity: 0;
}
/* line 313, ../sass/global.scss */
body #root section#slideshow .slides > li .container:after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: -1;
  background-color: #000000;
}
/* line 330, ../sass/global.scss */
body #root section#slideshow .slides > li .container, body #root section#slideshow .slides > li.slide-prev-prev .container, body #root section#slideshow .slides > li.slide-next-next .container {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=25);
  opacity: 0.25;
  -moz-transform: scale3d(0.6, 0.6, 1);
  -ms-transform: scale3d(0.6, 0.6, 1);
  -webkit-transform: scale3d(0.6, 0.6, 1);
  transform: scale3d(0.6, 0.6, 1);
}
/* line 337, ../sass/global.scss */
body #root section#slideshow .slides > li.slide-prev-prev .container {
  -moz-transform: scale3d(0.6, 0.6, 1) translateX(-325px);
  -ms-transform: scale3d(0.6, 0.6, 1) translateX(-325px);
  -webkit-transform: scale3d(0.6, 0.6, 1) translateX(-325px);
  transform: scale3d(0.6, 0.6, 1) translateX(-325px);
}
/* line 342, ../sass/global.scss */
body #root section#slideshow .slides > li.slide-next-next .container {
  -moz-transform: scale3d(0.6, 0.6, 1) translateX(325px);
  -ms-transform: scale3d(0.6, 0.6, 1) translateX(325px);
  -webkit-transform: scale3d(0.6, 0.6, 1) translateX(325px);
  transform: scale3d(0.6, 0.6, 1) translateX(325px);
}
/* line 349, ../sass/global.scss */
body #root section#slideshow .slides > li.slide-prev .container, body #root section#slideshow .slides > li.slide-next .container {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=75);
  opacity: 0.75;
  -moz-transform: scale3d(1, 1, 1);
  -ms-transform: scale3d(1, 1, 1);
  -webkit-transform: scale3d(1, 1, 1);
  transform: scale3d(1, 1, 1);
}
/* line 356, ../sass/global.scss */
body #root section#slideshow .slides > li.slide-prev .container {
  -moz-transform: translateX(-225px);
  -ms-transform: translateX(-225px);
  -webkit-transform: translateX(-225px);
  transform: translateX(-225px);
}
/* line 361, ../sass/global.scss */
body #root section#slideshow .slides > li.slide-next .container {
  -moz-transform: translateX(225px);
  -ms-transform: translateX(225px);
  -webkit-transform: translateX(225px);
  transform: translateX(225px);
}
/* line 366, ../sass/global.scss */
body #root section#slideshow .slides > li.mid-slide {
  z-index: 9999;
}
/* line 369, ../sass/global.scss */
body #root section#slideshow .slides > li.mid-slide .container {
  filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false);
  opacity: 1;
  -moz-transform: scale3d(1.75, 1.75, 1) translateX(0);
  -ms-transform: scale3d(1.75, 1.75, 1) translateX(0);
  -webkit-transform: scale3d(1.75, 1.75, 1) translateX(0);
  transform: scale3d(1.75, 1.75, 1) translateX(0);
}
/* line 373, ../sass/global.scss */
body #root section#slideshow .slides > li.mid-slide .container > div {
  filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false);
  opacity: 1;
}
/* line 376, ../sass/global.scss */
body #root section#slideshow .slides > li.mid-slide .container:after {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=60);
  opacity: 0.6;
}
/* line 382, ../sass/global.scss */
body #root section#slideshow .slides > li.cloned-last {
  background-color: rgba(255, 0, 0, 0.25);
}
/* line 389, ../sass/global.scss */
body #root section#slideshow .bx-wrapper .bx-pager {
  pointer-events: none;
  z-index: 2;
  bottom: -50px;
}
/* line 395, ../sass/global.scss */
body #root section#slideshow .bx-wrapper .bx-pager div a {
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  background: rgba(255, 255, 255, 0.25);
}
/* line 399, ../sass/global.scss */
body #root section#slideshow .bx-wrapper .bx-pager div a.active {
  background: rgba(255, 255, 255, 0.75);
}
/* line 406, ../sass/global.scss */
body #root section#slideshow .bx-wrapper .bx-controls-direction {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 1;
  pointer-events: none;
}
/* line 416, ../sass/global.scss */
body #root section#slideshow .bx-wrapper .bx-controls-direction a {
  background: transparent;
  cursor: hand;
  cursor: pointer;
  pointer-events: all;
  margin: 0;
  padding: 0;
  display: block;
  top: 0;
  width: 100px;
  height: 100px;
  background-repeat: no-repeat;
  -moz-background-size: 44px 44px;
  -o-background-size: 44px 44px;
  -webkit-background-size: 44px 44px;
  background-size: 44px 44px;
}
/* line 14, ../sass/_mixins.scss */
body #root section#slideshow .bx-wrapper .bx-controls-direction a.highlight {
  -moz-transition-duration: 0s;
  -o-transition-duration: 0s;
  -webkit-transition-duration: 0s;
  transition-duration: 0s;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=70);
  opacity: 0.7;
}
/* line 431, ../sass/global.scss */
body #root section#slideshow .bx-wrapper .bx-controls-direction a.bx-prev {
  float: left;
  left: 50px;
  background-image: url("../images/icons/previous-white.svg");
  background-position: center left;
}
/* line 437, ../sass/global.scss */
body #root section#slideshow .bx-wrapper .bx-controls-direction a.bx-next {
  float: right;
  right: 50px;
  background-image: url("../images/icons/next-white.svg");
  background-position: center right;
}
/* line 448, ../sass/global.scss */
body #root section#whale {
  width: 1920px;
  height: 1035px;
  top: 45px;
  left: 0;
  position: absolute;
}
/* line 458, ../sass/global.scss */
body #root section#whale h1 {
  font-family: 'Whitney Narrow';
  font-size: 60px;
  line-height: 1;
  margin-left: 60px;
}
/* line 463, ../sass/global.scss */
body #root section#whale .nav {
  position: absolute;
  left: 60px;
  bottom: 120px;
  color: #ffffff;
  font-size: 24px;
  border: 2px solid #ffffff;
  padding: 10px;
  text-align: left;
}
/* line 474, ../sass/global.scss */
body #root section#whale .nav .copy {
  padding-right: 60px;
}
/* line 478, ../sass/global.scss */
body #root section#whale .nav .point {
  margin-right: 10px;
  margin-top: 5px;
}
/* line 483, ../sass/global.scss */
body #root section#whale .nav > div {
  float: left;
}
/* line 488, ../sass/global.scss */
body #root section#whale .nav,
body #root section#whale #points > div {
  cursor: pointer;
}
/* line 493, ../sass/global.scss */
body #root section#whale .nav div.point,
body #root section#whale #points > div {
  display: block;
  width: 40px;
  height: 40px;
  overflow: hidden;
  text-indent: -99999px;
  -moz-border-radius: 20px;
  -webkit-border-radius: 20px;
  border-radius: 20px;
  border: 3px solid #ffffff;
  background-color: transparent;
  padding: 2px;
  filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false);
  opacity: 1;
  -moz-transition: opacity 0.6s cubic-bezier(0.215, 0.61, 0.355, 1);
  -o-transition: opacity 0.6s cubic-bezier(0.215, 0.61, 0.355, 1);
  -webkit-transition: opacity 0.6s cubic-bezier(0.215, 0.61, 0.355, 1);
  transition: opacity 0.6s cubic-bezier(0.215, 0.61, 0.355, 1);
}
/* line 497, ../sass/global.scss */
body #root section#whale .nav div.point, body #root section#whale .nav div.point div,
body #root section#whale #points > div,
body #root section#whale #points > div div {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  position: relative;
}
/* line 515, ../sass/global.scss */
body #root section#whale .nav div.point div,
body #root section#whale #points > div div {
  padding: 0;
  width: 30px;
  height: 30px;
  -moz-border-radius: 15px;
  -webkit-border-radius: 15px;
  border-radius: 15px;
  border: 2px solid #ffffff;
  -moz-transition: -moz-transform 0.3s cubic-bezier(0.215, 0.61, 0.355, 1), background-color 0.5s cubic-bezier(0.215, 0.61, 0.355, 1);
  -o-transition: -o-transform 0.3s cubic-bezier(0.215, 0.61, 0.355, 1), background-color 0.5s cubic-bezier(0.215, 0.61, 0.355, 1);
  -webkit-transition: -webkit-transform 0.3s cubic-bezier(0.215, 0.61, 0.355, 1), background-color 0.5s cubic-bezier(0.215, 0.61, 0.355, 1);
  transition: transform 0.3s cubic-bezier(0.215, 0.61, 0.355, 1), background-color 0.5s cubic-bezier(0.215, 0.61, 0.355, 1);
  -moz-transform: scale3d(0.6, 0.6, 0.6);
  -ms-transform: scale3d(0.6, 0.6, 0.6);
  -webkit-transform: scale3d(0.6, 0.6, 0.6);
  transform: scale3d(0.6, 0.6, 0.6);
  background-color: #ffffff;
}
/* line 538, ../sass/global.scss */
body #root section#whale .nav div.point.selected div,
body #root section#whale #points > div.selected div {
  -moz-transform: scale3d(1, 1, 1);
  -ms-transform: scale3d(1, 1, 1);
  -webkit-transform: scale3d(1, 1, 1);
  transform: scale3d(1, 1, 1);
  background-color: #003a70;
}
/* line 543, ../sass/global.scss */
body #root section#whale .nav div.point.selected.hide-on-select,
body #root section#whale #points > div.selected.hide-on-select {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  opacity: 0;
}
/* line 550, ../sass/global.scss */
body #root section#whale #points > div {
  overflow: visible;
}
/* line 553, ../sass/global.scss */
body #root section#whale #points > div:after {
  content: '';
  position: absolute;
  top: -30px;
  left: -30px;
  width: 100px;
  height: 100px;
  background-color: transparent;
}
/* line 566, ../sass/global.scss */
body #root section#whale .nav.highlight div.point div {
  -moz-transform: scale3d(1, 1, 1);
  -ms-transform: scale3d(1, 1, 1);
  -webkit-transform: scale3d(1, 1, 1);
  transform: scale3d(1, 1, 1);
  background-color: #003a70;
}
/* line 574, ../sass/global.scss */
body #root section#whale #legend button {
  cursor: hand;
  cursor: pointer;
}
/* line 14, ../sass/_mixins.scss */
body #root section#whale #legend button.highlight {
  -moz-transition-duration: 0s;
  -o-transition-duration: 0s;
  -webkit-transition-duration: 0s;
  transition-duration: 0s;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=70);
  opacity: 0.7;
}
/* line 578, ../sass/global.scss */
body #root section#whale #legend > div {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -moz-animation: fade-in-from-bottom 0.6s cubic-bezier(0.215, 0.61, 0.355, 1);
  -webkit-animation: fade-in-from-bottom 0.6s cubic-bezier(0.215, 0.61, 0.355, 1);
  animation: fade-in-from-bottom 0.6s cubic-bezier(0.215, 0.61, 0.355, 1);
  -moz-box-shadow: rgba(0, 0, 0, 0.2) 0 0 30px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.2) 0 0 30px;
  box-shadow: rgba(0, 0, 0, 0.2) 0 0 30px;
  display: none;
  height: 230px;
  width: 650px;
  position: absolute;
  background-color: #ffffff;
}
/* line 585, ../sass/global.scss */
body #root section#whale #legend > div.open {
  display: block;
}
/* line 597, ../sass/global.scss */
body #root section#whale #legend > div img {
  width: 230px;
  height: 230px;
  float: left;
  margin-right: 20px;
  position: relative;
}
/* line 605, ../sass/global.scss */
body #root section#whale #legend > div .btn-close {
  position: absolute;
  top: 0;
  right: 0;
  width: 40px;
  height: 40px;
  background-image: url("../images/icons/close-legend.svg");
  -moz-background-size: cover;
  -o-background-size: cover;
  -webkit-background-size: cover;
  background-size: cover;
}
/* line 615, ../sass/global.scss */
body #root section#whale #legend > div .btn-play {
  z-index: 2;
  position: absolute;
  top: 0;
  left: 0;
  width: 230px;
  height: 230px;
  background-image: url("../images/icons/play.svg");
  background-position: center center;
  background-repeat: no-repeat;
  -moz-background-size: 100px 100px;
  -o-background-size: 100px 100px;
  -webkit-background-size: 100px 100px;
  background-size: 100px 100px;
  -webkit-filter: drop-shadow(0 0 5px rgba(0, 0, 0, 0.4));
  filter: drop-shadow(0 0 5px rgba(0, 0, 0, 0.4));
}
/* line 629, ../sass/global.scss */
body #root section#whale #legend > div.no-img {
  height: inherit;
}
/* line 633, ../sass/global.scss */
body #root section#whale #legend > div h2, body #root section#whale #legend > div > div {
  margin: 20px;
}
/* line 637, ../sass/global.scss */
body #root section#whale #legend > div h2 {
  color: #003a70;
  font-weight: 600;
  font-size: 30px;
  line-height: 1;
}
/* line 643, ../sass/global.scss */
body #root section#whale #legend > div p {
  color: #000000;
  font-size: 18px;
  line-height: 22px;
}
/* line 651, ../sass/global.scss */
body #root section#whale #legend > div .arrow {
  position: absolute;
  margin: 0;
  top: -75px;
  width: 75px;
  height: 75px;
  background-color: rgba(255, 255, 255, 0.3);
  -webkit-clip-path: polygon(50% 0%, 100% 100%, 0% 100%, 50% 0%);
  clip-path: polygon(50% 0%, 100% 100%, 0% 100%, 50% 0%);
}
/* line 668, ../sass/global.scss */
body #root section#whale #legend > div.left .arrow {
  -webkit-clip-path: polygon(100% 0%, 100% 100%, 0% 50%, 100% 0%);
  clip-path: polygon(100% 0%, 100% 100%, 0% 50%, 100% 0%);
  top: 0;
  left: -75px;
}
/* line 676, ../sass/global.scss */
body #root section#whale #legend > div.bottom .arrow {
  -webkit-clip-path: polygon(0% 0%, 100% 0%, 50% 100%, 0% 0%);
  clip-path: polygon(0% 0%, 100% 0%, 50% 100%, 0% 0%);
  top: 230px;
}
/* line 682, ../sass/global.scss */
body #root section#whale #legend > div.bottom.no-img .arrow {
  top: auto;
}
/* line 688, ../sass/global.scss */
body #root section#whale #legend > div#blowhole .arrow {
  left: 90px;
}
/* line 693, ../sass/global.scss */
body #root section#whale #legend > div#mouth .arrow {
  left: 44px;
}
/* line 698, ../sass/global.scss */
body #root section#whale #legend > div#appetite .arrow {
  top: 155px;
}
/* line 703, ../sass/global.scss */
body #root section#whale #legend > div#heart .arrow {
  left: 88px;
}
/* line 708, ../sass/global.scss */
body #root section#whale #legend > div#size .arrow {
  left: 92px;
}
/* line 713, ../sass/global.scss */
body #root section#whale #legend > div#speed .arrow {
  right: 124px;
}
/* line 720, ../sass/global.scss */
body #root section#whale .legend-frames,
body #root section#whale #whale-frames {
  z-index: -1;
  position: absolute;
}
/* line 726, ../sass/global.scss */
body #root section#whale .legend-frames {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  opacity: 0;
  -moz-transition: opacity 0.6s cubic-bezier(0.215, 0.61, 0.355, 1);
  -o-transition: opacity 0.6s cubic-bezier(0.215, 0.61, 0.355, 1);
  -webkit-transition: opacity 0.6s cubic-bezier(0.215, 0.61, 0.355, 1);
  transition: opacity 0.6s cubic-bezier(0.215, 0.61, 0.355, 1);
}
/* line 730, ../sass/global.scss */
body #root section#whale .legend-frames.active {
  filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false);
  opacity: 1;
}
/* line 735, ../sass/global.scss */
body #root section#whale #bus-frames {
  width: 1400px;
  height: 200px;
  bottom: 150px;
  right: 60px;
}
/* line 743, ../sass/global.scss */
body #root section#whale #bus-frames.active .container {
  -moz-animation: bus 10s steps(300) forwards;
  -webkit-animation: bus 10s steps(300) forwards;
  animation: bus 10s steps(300) forwards;
  -moz-animation-play-state: running;
  -webkit-animation-play-state: running;
  animation-play-state: running;
}
/* line 750, ../sass/global.scss */
body #root section#whale #heart-frames,
body #root section#whale #whale-frames {
  width: 1920px;
  height: 1080px;
  top: -45px;
  left: 0;
}
/* line 758, ../sass/global.scss */
body #root section#whale #heart-frames .container,
body #root section#whale #whale-frames .container {
  -moz-animation: whale 30s steps(900) infinite;
  -webkit-animation: whale 30s steps(900) infinite;
  animation: whale 30s steps(900) infinite;
}
/* line 763, ../sass/global.scss */
body #root section#whale #heart-frames.animate .container,
body #root section#whale #whale-frames.animate .container {
  -moz-animation-play-state: running;
  -webkit-animation-play-state: running;
  animation-play-state: running;
}
/* line 769, ../sass/global.scss */
body #root section#whale #whale-frames {
  z-index: -2;
}
/* line 775, ../sass/global.scss */
body #root #water {
  z-index: 1;
  position: absolute;
  width: 1920px;
  height: 1080px;
  top: 0;
  left: 0;
}
/* line 786, ../sass/global.scss */
body #root #water.animate .container {
  -moz-animation: water 10s steps(300) infinite;
  -webkit-animation: water 10s steps(300) infinite;
  animation: water 10s steps(300) infinite;
}
/* line 794, ../sass/global.scss */
body #loading {
  position: absolute;
  display: table;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}
/* line 804, ../sass/global.scss */
body #loading h1 {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
  font-size: 60px;
  font-weight: 400;
  color: #ffffff;
  padding-bottom: 30px;
}
/* line 815, ../sass/global.scss */
body #root {
  display: none;
}
/* line 820, ../sass/global.scss */
.loaded body #loading {
  display: none;
}
/* line 824, ../sass/global.scss */
.loaded body #root {
  display: block;
}
/* line 830, ../sass/global.scss */
body .en, body .cn, body .tl, body .es {
  display: none !important;
  -moz-animation: fade-in 1s cubic-bezier(0.215, 0.61, 0.355, 1);
  -webkit-animation: fade-in 1s cubic-bezier(0.215, 0.61, 0.355, 1);
  animation: fade-in 1s cubic-bezier(0.215, 0.61, 0.355, 1);
}
/* line 837, ../sass/global.scss */
html[lang="en"] body .en {
  display: block !important;
}
/* line 837, ../sass/global.scss */
html[lang="cn"] body .cn {
  display: block !important;
}
/* line 837, ../sass/global.scss */
html[lang="tl"] body .tl {
  display: block !important;
}
/* line 837, ../sass/global.scss */
html[lang="es"] body .es {
  display: block !important;
}
